{% extends 'base.html.twig' %}

{% block head_metas %}
    <title>{{ 'connection'|trans }}</title>
{% endblock %}

{% block content %}
    <h1>{{ 'connection'|trans }}</h1>

    {% if error %}
        <div class="callout alert" data-closable>
            {{ error.messageKey|trans(error.messageData, 'security') }}
            <button class="close-button" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    <form method="post">
        <div class="grid-x grid-padding-x">
            <div class="cell medium-5">
                <div class="input-group">
                    <span class="input-group-label"><em class="mdi mdi-account"></em></span>
                    <input type="email" value="{{ last_username }}" name="email" class="input-group-field" required autofocus>
                </div>
            </div>
            <div class="cell medium-5">
                <div class="input-group">
                    <span class="input-group-label"><em class="mdi mdi-textbox-password"></em></span>
                    <input type="password" name="password" class="input-group-field" required>
                </div>
            </div>
            <div class="cell medium-2">
                <button class="button success" type="submit">
                    <em class="mdi mdi-check"></em>
                </button>
            </div>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    </form>
{% endblock %}
