<div class="lyssal-blog-post-list">
    <div class="row collapse">
        {%- for post in posts -%}
            <div class="columns large-4 medium-6 small-12">
                {{ include('@LyssalBlog/post/_show.html.twig') }}
            </div>
        {%- endfor -%}
    </div>

    {{- include('@LyssalBlog/post/_pagination.html.twig') -}}
</div>
