<article class="lyssal-blog-post preview">
    <div class="lyssal-blog-post__caracteristics">
        {{ 'post.caracteristic.date'|trans({'%date%': post.date|date('d/m/Y')}, 'LyssalBlogBundle') }}
    </div>
    {%- if post.hasImage -%}
        <div class="lyssal-blog-post__image">
            <a href="{{ entity_path(post) }}" data-ajax="true"><img src="{{ asset(post.imagePath) }}" alt="{{ appellation(post) }}"></a>
        </div>
    {%- endif -%}
    <div class="lyssal-blog-post__caracteristics">
        {{ 'post.caracteristic.date'|trans({'%date%': post.date|date('d/m/Y')}, 'LyssalBlogBundle') }}
    </div>
    <h2 class="lyssal-blog-post__title">{{ appellation_html(post) }}</h2>
    <div class="lyssal-blog-post__body">
        <a href="{{ entity_path(post) }}" data-ajax="true">
            <div class="lyssal-blog-post__body-title">{{ appellation(post) }}</div>
            {{ post.page.content|raw('html') }}
        </a>
    </div>
    {{ include('@LyssalBlog/post/_category/list.html.twig') }}
    <div class="lyssal-blog-post__end"></div>
</article>
