.lyssal-blog {
  &-post {
    &__image {
      float: right;
      margin: 0 0 $global-padding $global-padding;

      img {
        width: 300px;
      }
    }

    &__caracteristics {
      font-size: 0.8rem;
      font-style: italic;
      margin-bottom: $global-margin*3;
    }

    &__body {
      padding: $global-padding 0;
    }

    &-categories {
      font-size: 0.85rem;
      font-style: italic;

      ul {
        display: inline;
        list-style-type: none;
        margin: 0 0 0 6px;

        li {
          display: inline;
          margin: 0 $global-padding 0 0;

          a {
            color: $white;

            &:before {
              border-color: $white;
              border-style: solid;
              border-width: 0 3px 3px 0;
              content: '';
              display: inline-block;
              margin: 0 5px 1px 0;
              padding: 2px;
              transform: rotate(-45deg);
            }
          }
        }
      }
    }

    &__end {
      clear: both;
    }

    &.preview {
      @extend %panel;
      border-color: $color;
      border-style: solid;
      border-width: 0.3rem 0 0 0;
      height: 17rem;
      margin-top: $global-margin*3;
      padding: 0;
      position: relative;
      @include breakpoint(small only) {
        height: auto;
        margin-left: 0;
        margin-right: 0;
      }

      &:hover {
        background-color: $color;
      }

      .lyssal-blog-post {
        &__caracteristics {
          margin: $global-padding/2;
          position: absolute;
          right: 0;
          top: -2rem;
        }

        &__image {
          float: none;
          margin: 0;
          //margin-bottom: 0;

          img {
            height: 10rem;
            object-fit: cover;
            width: 100%;
          }
        }

        &__title {
          margin: $global-padding/2;
          font-size: 1rem;
          height: 4.2rem;
          overflow: hidden;

          a {
            color: $white;
            display: block;
          }
        }

        &__body {
          background-color: $color;
          display: none;
          height: 100%;
          left: 0;
          opacity: 0.9;
          padding: 1rem;
          position: absolute;
          top: 0;

          &-title {
            font-size: 1.2rem;
            margin: 0 0 $global-padding/2 0;
          }

          a {
            color: $white;
            display: block;
            height: 100%;
          }
        }

        &-categories {
          bottom: 0px;
          margin: $global-padding/2;
          position: absolute;

          @include breakpoint(small only) {
            position: relative;
          }
        }
      }
    }
  }

  &-categories {
    @extend %panel;
    padding: $global-padding/2;

    ul {
      margin: 0;

      li {
        float: left;
        list-style-type: none;
        margin: $global-margin/2;

        a {
          background-color: $color-darkest;
          display: block;
          padding: $global-padding/2 $global-padding;
        }
      }
    }

    &__end {
      clear: both;
    }
  }
}
