@font-face {
  font-family: 'Negotiate';
  src: url('fonts/negotiate.ttf');
}
@font-face {
  font-family: 'Comfortaa-Light';
  src: url('fonts/Comfortaa-Light.ttf');
}
@font-face {
  font-family: 'Comfortaa-Regular';
  src: url('fonts/Comfortaa-Regular.ttf');
}
@font-face {
  font-family: 'Comfortaa-Bold';
  src: url('fonts/Comfortaa-Bold.ttf');
}
@font-face {
  font-family: 'Carolingia';
  src: url('fonts/carolingia.ttf');
}

code {
  font-size: 0.8rem;
}

pre {
  margin: $global-padding 0;
}



.page {
  margin: 3rem auto 0 auto;
  max-width: $oage-max-width;
  min-height: 88vh;
  padding: $global-padding;
}

.pagination {
  margin-top: $global-padding;
  text-align: center;
}
