header {
  background-color: $topbar-background;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  .top-bar {
    margin: auto;
    max-width: $oage-max-width;

    a {
      color: $white;
      line-height: 1.2rem;
    }

    .menu-text {
      font-size: 0.9rem;
      font-style: italic;
      font-weight: normal;
      padding: 0;

      a {
        background-image: url('images/lyssal.png');
        background-position: center left;
        background-repeat: no-repeat;
        background-size: 15px;
        padding: 9px 0 7px 30px;
        @include breakpoint(small down) {
          font-size: 1.6rem;
        }

        strong {
          font-family: 'Carolingia', Arial, sans-serif;
          font-size: 1.65rem;
          font-style: normal;
        }
      }
    }

    .dropdown {
      .menu {
        a {
          &:hover {
            background-color: $color-light;
            color: $color;
          }
        }
      }
    }

    .input-group {
      margin-bottom: 0;
      margin-left: $dropdown-padding;
      margin-top: 6px;

      input {
        height: 38px;
      }
      button {
        background-color: $color-darker;
        height: 38px;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 0.5rem;
      }
    }

    .mdi {
      font-size: 1.2rem;
    }
  }
}
