<header>
    <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
    </div>

    <div class="top-bar" id="responsive-menu">
        <div class="top-bar-left">
            <ul class="menu" data-dropdown-menu>
                <li class="menu-text"><a href="/"><strong>Lyssal</strong>, le blogue</a></li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="dropdown menu" data-dropdown-menu>
                <li class="has-submenu">
                    <a>{{ 'categories'|trans({}, 'LyssalBlogBundle') }}</a>
                    <ul class="submenu menu vertical" data-submenu>
                        {%- for category in blog.categoryParents -%}
                            <li>
                                {{ appellation_html(category) }}
                                {% if category.children|length > 0 %}
                                    <ul class="menu">
                                        {%- for subcategory in category.children -%}
                                            <li>
                                                {{ appellation_html(subcategory) }}
                                            </li>
                                        {%- endfor -%}
                                    </ul>
                                {% endif %}
                            </li>
                        {%- endfor -%}
                    </ul>
                </li>
                <li>
                    {{- lyssal_searchengine_display() -}}
                </li>
                <li class="show-for-medium">
                    <a><span class="mdi mdi-rss"></span></a>
                    <ul class="menu vertical">
                        <li>
                            <a href="{{ path('lyssal_blog_syndication_atom', { 'blog': blog.id }) }}">Atom</a>
                        </li>
                        <li>
                            <a href="{{ path('lyssal_blog_syndication_rss', { 'blog': blog.id }) }}">RSS</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{{ path('lyssal_seo_page_show', { 'slug': 'A_propos' }) }}" data-ajax="true"><span class="mdi mdi-information"></span></a>
                </li>
            </ul>
        </div>
    </div>
</header>
