<!DOCTYPE html>
<html{% if page is defined and page.locale is not empty %} lang="{{ page.locale }}"{% endif %}>
    <head>
        <meta charset="UTF-8">
        {% block head_metas %}
            {% if page is defined %}
                {{ include('@LyssalSeo/page/_head/default_tags.html.twig') }}
            {% endif %}
        {% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{ asset('favicon.png') }}" type="image/png">
        {%- block stylesheets -%}
            {{ encore_entry_link_tags('app') }}
        {%- endblock -%}
    </head>
    <body>
        {%- block body -%}
            {{ include('_header.html.twig') }}

            <div class="page" id="page">
                {%- block breadcrumbs %}{% endblock -%}
                {%- block content %}{% endblock -%}

                <div class="clearfix"></div>
            </div>

            {{ include('_footer.html.twig') }}
        {%- endblock -%}

        {%- block javascripts -%}
            {{ encore_entry_script_tags('app') }}
        {%- endblock -%}
    </body>
</html>
