{% extends 'base.html.twig' %}

{% block content %}
    <main class="page text-center">
        <h1>Oups !!!</h1>
        <p><br><br></p>
        <p>Une erreur est survenue. Ou peut-être bien que la page n'existe plus.</p>
        <p><a href="/">Retourner à l'accueil</p></p>
    </main>
{% endblock %}
